DATABASE_URL=postgresql://user:password@host:5432/dbname
JWT_SECRET=your-secret-key-here
VAPID_PUBLIC_KEY=BDp3uDzTd8Tvo9LtNhhw7CXZliC_bRiowuA9_-OgYjx4ByX9TR2P9ehljV4NGlnVerWsqDUkuk--3pNGRmrv7jE
VAPID_PRIVATE_KEY=LsVdLK1nRxNRO0cnxGsWicplc7cJpR_56e8pA2CrN54
PORT=3000
NODE_ENV=production
